<table class="siteTitleTable">
  <tbody><tr><td>
    <a href="#/" class="siteTitle">{{ 'deeweny' | translate }}</a>
    <span class="siteTitleBeta siteTitleBeta{{ rtl }}">{{ 'beta' | translate }}</span>
  </td></tr>
</tbody></table>

<div class="siteLangContainer">
	<button [ngClass]="{ 'language': true, 'selected': translate.currentLang.substring(0,2).toUpperCase() == 'EN' }"
          (click)="translate.use('en')">english</button>
	<button [ngClass]="{ 'language': true, 'selected': translate.currentLang.substring(0,2).toUpperCase() == 'FR' }"
          (click)="translate.use('fr')">français</button>
	<button [ngClass]="{ 'language': true, 'selected': translate.currentLang.substring(0,2).toUpperCase() == 'AR' }"
          (click)="translate.use('ar')">عربي</button>
</div>
<div class="mainSearchPanel {{ rtl }}">
	<div><input class="search-query mainSearchField {{ rtl }}"
              type="text"
              [(ngModel)]="search"
              placeholder="{{ 'search'  | translate }}"></div>
	<div><button class="searchSubmitButton">{{ 'search'  | translate }}</button></div>
</div>
