<div class="menuBar">
	<div class="sidebar {{ rtl }} panelFloat{{ rtl }}">
		<a id="simple-menu" (click)="sidenav.toggle()"></a>
	</div>

	<form class="loginPanel {{ rtl }} panelFloat{{ rtl }}" name="form" *ngIf="false && !isLoggedIn()" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
		<div>
			<div class="field_label">{{ 'login' | translate }}</div>
			<div><input class="field_input" type="text" name="user" [(ngModel)]="model.username" #username="ngModel" required /></div>
		</div>
		<div>
			<div class="field_label">{{ 'password' | translate }}</div>
			<div><input class="field_input" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required /></div>
		</div>
		<div class="loginSubmit">
			<button [disabled]="loading" class="btn btn-primary">{{ 'connection' | translate }}</button>
		</div>
	</form>

	<form class="loginPanel {{ rtl }} panelFloat{{ rtl }}" name="form" *ngIf="false && isLoggedIn()" (ngSubmit)="f.form.valid && logout()" #f="ngForm" novalidate>
		<div>
			<div class="field_label">{{ currentUser.nickname }}</div>
		</div>
		<div>
			<div class="field_label">{{ currentUser.firstname }}</div>
		</div>
		<div>
			<div class="field_label">{{ currentUser.birthname }}</div>
		</div>
		<div class="loginSubmit">
			<button [disabled]="loading" class="btn btn-primary">{{ 'disconnect' | translate }}</button>
			<!-- <input type="submit" value="{{ 'connection' | translate }}"> -->
		</div>
	</form>


	<div class="loginPanel {{ rtl }} panelFloat{{ rtl }}" *ngIf="isLoggedIn()">
		<img class="social-photo" src="{{ currentUser.socialUser.photoUrl }}">
	</div>

	<div class="loginPanel {{ rtl }} panelFloat{{ rtl }} loginPanelGoogle" *ngIf="isLoggedIn()" (click)="logout()">
		<div class="loginSubmit">
			<span class="btn btn-primary" > {{ currentUser.socialUser.name }} | {{ 'disconnect' | translate }}</span>
		</div>
	</div>

	<div class="loginPanel {{ rtl }} panelFloat{{ rtl }} loginPanelGoogle" *ngIf="!isLoggedIn()" (click)="loginGoogle()">
		<div class="loginSubmit">
			<span class="btn btn-primary" >{{ 'connection' | translate }}</span>
		</div>
	</div>

	<div class="actionsPanel {{ rtl }}" *ngIf="!isLoggedIn()">
		<div class="field_label">
			<a class="register" target="_top" href="signup">{{ 'sign up' | translate }}</a>
		</div>
	</div>

	<div class="clearFloat"></div>
</div>
