<div class="menuBar">
	<div class="sidebar {{ rtl }} panelFloat{{ rtl }}">
		<a id="simple-menu" (click)="sidenav.toggle()"></a>
	</div>

	<form class="loginPanel {{ rtl }} panelFloat{{ rtl }}" target="_top" method="post" action="index">
		<div>
			<div class="field_label">{{ 'login' | hbtranslate }}</div>
			<div><input class="field_input" type="text" name="user"></div>
		</div>
		<div>
			<div class="field_label">{{ 'password' | hbtranslate }}</div>
			<div><input class="field_input" type="password" name="password"></div>
		</div>
		<div class="loginSubmit"><input type="submit" value="{{ 'connection' | hbtranslate }}"></div>
	</form>

	<div class="actionsPanel {{ rtl }}">
		<div class="field_label">
			<a class="register" target="_top" href="signup">{{ 'sign up' | hbtranslate }}</a>
		</div>
	</div>

	<div class="clearFloat"></div>
</div>
