<table class="siteTitleTable">
  <tbody><tr><td>
    <a href="#/" class="siteTitle">{{ 'deeweny' | translate }}</a>
    <span class="siteTitleBeta siteTitleBeta{{ rtl }}">{{ 'beta' | translate }}</span>
  </td></tr>
</tbody></table>

<div class="siteOwnerTitle">{{ poet.name }}</div>

<div class="siteLangContainer">
  <!-- menu poet profile -->
  <div class="svg-menu-link" title="Home">
    <object class="svg-menu-object" data="https://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=80&amp;d=mm&amp;r=g"> </object>
    <span class="svgmask svgmask-adapt"></span>
  </div>

  <!-- menu all poems titles -->
  <div class="svg-menu-link" title="Home" routerLink="/poet/{{ poet.poetId }}">
    <object class="svg-menu-object" type="image/svg+xml" data="./assets/images/list.svg"> </object>
    <span class="svgmask svgmask-adapt"></span>
  </div>

  <!-- menu all poems content -->
  <div class="svg-menu-link" title="all poems ({{ poet.poemsCount || 0 }})">
    <object class="svg-menu-object" type="image/svg+xml" data="./assets/images/read.svg"> </object>
    <span class="svgmask svgmask-adapt"></span>
  </div>

  <!-- menu new poem -->

  <!-- menu poet on wiki -->
  <div class="svg-menu-link" (click)="openPoetWiki()" title="poet on wiki">
    <object class="svg-menu-object" type="image/svg+xml" data="./assets/images/wiki.svg"> </object>
    <span class="svgmask svgmask-adapt"></span>
  </div>

  <!-- menu PDF -->
  <!--
  <div class="svg-menu-link" (click)="../deewenyPDF?poetId={{poet.poetId}}&lang={{lang.substring(0,2)}}" target="_blank" title="Download PDF">
    <object class="svg-menu-object" type="image/svg+xml" data="../resources/images/pdf.svg"> </object>
    <span class="svgmask svgmask-adapt"></span>
  </div>
  -->

  <!-- menu PDF customized -->
  <div class="svg-menu-link" title="personnalize PDF">
    <object class="svg-menu-object" type="image/svg+xml" data="./assets/images/pdfperso.svg"> </object>
    <span class="svgmask svgmask-adapt"></span>
  </div>

</div>

<div class="mainSearchPanel {{ rtl }}">
	<div><input class="search-query mainSearchField {{ rtl }}"
              type="text"
              [(ngModel)]="searchTerm"
              (keyup)="onSearchTermChange()"
              placeholder="{{ 'search'  | translate }}"></div>
	<div><button class="searchSubmitButton">{{ 'search'  | translate }}</button></div>
</div>
